<div
    class="feedItem"
>
    <div
        class="feedItem-headerRow"
    >
        <img 
            class="feedItem-profilePic"
            src="../../assets/nick-profile-pic.jpg"
        />
        <div
            class="feedItem-tweetMetadata"
        >
            <div
                class="feedItem-tweetMetadata-user"
            >
                Nick Liszewski
            </div>
            <div
                class="feedItem-tweetMetadata-date"
            >
                13 November at 15:43
            </div>
        </div>
    </div>
    <div
        class="feedItem-tweetText"
    >
        Flying from Seattle to Los Angeles
    </div>
    <div
        class="feedItem-tweetEngagement"
    >
        <div
            class="feedItem-tweetEngagement-comments"
        >
            4 Comments
        </div>
        <div
            class="feedItem-tweetEngagement-retweets"
        >
            10 Retweets
        </div>
        <div
            class="feedItem-tweetEngagement-saved"
        >
            2 Saved
        </div>
    </div>
    <div
        class="feedItem-tweetEngagementButtons"
    >
        <button
            class="feedItem-tweetEngagementButtons-comment"
        >
            <img
                class="feedItem-tweetEngagementButtons-comment-img"
                src="../../assets/globe-icon.svg"
            />
            <div
                class="feedItem-tweetEngagementButtons-comment-text"
            >
                Comment
            </div>
        </button>
        <button
            class="feedItem-tweetEngagementButtons-retweet"
        >
            <img
                class="feedItem-tweetEngagementButtons-retweet-img"
                src="../../assets/globe-icon.svg"
            />
            <div
                class="feedItem-tweetEngagementButtons-retweet-text"
            >
                Retweet
            </div>
        </button>
        <button
            class="feedItem-tweetEngagementButtons-like"
        >
            <img
                class="feedItem-tweetEngagementButtons-like-img"
                src="../../assets/globe-icon.svg"
            />
            <div
                class="feedItem-tweetEngagementButtons-like-text"
            >
                Like
            </div>
        </button>
        <button
            class="feedItem-tweetEngagementButtons-save"
        >
            <img
                class="feedItem-tweetEngagementButtons-save-img"
                src="../../assets/globe-icon.svg"
            />
            <div
                class="feedItem-tweetEngagementButtons-save-text"
            >
                Save
            </div>
        </button>
    </div>
</div>
